dialog#mobileMenu {
    position: relative;
    width: 90vw;
    max-width: 600px;
    max-height: 90vh;
    height: 60vh;
    max-height: 90dvh;
    overflow-y: scroll;
    border-radius: 8px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.75); /* Halbtransparenter Hintergrund */
    backdrop-filter: blur(10px);
}

#mobileMenu ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
display: flex;
flex-direction: column;
justify-items: center;
gap: 12px;
justify-content: center;
height: 100%;
}


#mobileMenu ul li a {
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    display: block;
}


.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    color: white;
    padding: 8px 16px;
}

